.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.codex
/.agents
/.claude
/.pi
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bin/agent-bus.phar
/builds
/vendor
*.log
Thumbs.db
